<% unless @events.empty? %>
<%= will_paginate @events %>
<ul class="users">
  <% @events.each do |event| %>
    <li>
	<div class="coltop">

	<div class="colleft">
      <h3><%= event.name %></h3>
      <p><%= event.description %><br />
      Created <%= time_ago_in_words(event.created_at) %> ago.
	</p>
	</div>
	<div class="colright">
         <p>
	 	<strong>Adress:</strong> <%= event.address %><br />
	 	<strong>Start date:</strong> <%= event.startdate %><br />
	 	<strong>End date:</strong> <%= event.enddate %>
	 </p>
	</div>

	</div>

	<div class="colbottom">
         <p><br />Actions: 
      	 <% if current_user?(event.user) %>
      		<%= link_to "delete", event, :method => :delete,
                                     :confirm => "You are going to delete "+event.name+", You sure?",
                                     :title => "Delete "+event.name %>
         <% end %>
	
<%= form_for current_user.relationships.build(:event_id => event.id) do |f| %>
<div><%= f.hidden_field :event_id %></div>
<div class="actions"><%= f.submit "Subscribe" %></div>
<% end %>
	 </p>
	</div>
    </li>
  <% end %>
</ul>
<%= will_paginate @events %>
<% end %>
