
<h2>All your subscriptions</h2>

<% unless @subscriptions.empty? %>
<%= will_paginate @subscriptions %>
<ul class="users">
  <% @subscriptions.each do |subscription| %>
    <li>
      <%= subscription.name %> <br />
      Created <%= time_ago_in_words(subscription.created_at) %> ago.
      <% if current_user?(subscription.user) %>
      	<%= link_to "delete", subscription, :method => :delete,
                                     :confirm => "You are going to delete "+subscription.name+", You sure?",
                                     :title => "Delete"+subscription.name %>
      <% end %>
	
<%= form_for current_user.relationships.find_by_event_id(subscription.id),
             :html => { :method => :delete } do |f| %>
  <div class="actions"><%= f.submit "Unsubscribe" %></div>
<% end %>
    </li>
  <% end %>
</ul>


<%= will_paginate @subscriptions %>
<% end %>
