<div id="header" class="inner">
	<a href="/" title="YouSport">
	<div class="logo"><span class="green">Y</span>ou<span class="green">S</span>port</div>
	</a>
	<ul>
        	<li><%= link_to "Home", root_path, :title => "Home" %></li>
        	<li><%= link_to "Help", help_path, :title => "Help" %></li>
        	<li><%= link_to "About us", about_path, :title => "About us" %></li>
        	<li><%= link_to "Contact", contact_path, :title => "Contact us" %></li>
        	<li><%= link_to "Sign in", '#', :title => "Sign in" %></li>
        </ul>

</div>
